@{
    ViewBag.Title = "Load messages from server";
}

<h2>Load messages</h2>

<h3>All unseen messages have been loaded from server.</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Load" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}