@model int
@{
    ViewBag.Title = "Load messages from server";
}

<h2>Load messages</h2>

@if (Model >= 0)
{
    <h3> @Model new messages loaded from the server and saved in db.</h3>
}
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Load" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}