@{
    ViewBag.Title = "Certificates";
    ViewBag.Message = "You can find here some certifications awarded to me.";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <a href="http://www.testdaf.de" title="TestDaf - 2010">TestDaF - Nov 2010.</a>
    </p>

    <p>
        <a href="http://www.typingweb.com/verify/certificate/1/3145/2/1065659" title="TypingWeb">TypingWeb - Nov 2010.</a>
    </p>
    <p>
        <a href="http://www.microsoft.com/learning/en-us/retired-certification-exams.aspx" title="MCTS">
            70-528 - TS: Microsoft .NET Framework 2.0 – Web-Based Client Development (Obtained: 2008, Retired 30.06.2011).
        </a>
    </p>
    <p>
        <a href="http://www.microsoft.com/learning/en-us/retired-certification-exams.aspx" title="MCP">
            70-536 - TS: Microsoft .NET Framework – Application Development Foundation (Obtained: 2007, Retired: 31.07.2013).
        </a>
    </p>
</article>