@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cristian Prisecaru<br />
    Würzburg, Germany<br />
    <abbr title="Phone">P:</abbr>
    00 49 157 349 06117
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">cristian.prisecaru@gmail.com</a><br />
</address>